__pycache__/
*.py[cod]
.venv/
.uv/
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/

build/
out/
cmake-build-*/
compile_commands.json
CMakeUserPresets.json
vcpkg_installed/

data/*
!data/.gitkeep

.DS_Store
